---
import type { 
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths
} from 'astro';
import { getCollection } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");
  const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });

}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.params as Params;
const { posts } = Astro.props as Props;

---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
    <ul>
    {posts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title}/>)}
  </ul>
</BaseLayout>